<!DOCTYPE html>
<html>

<head>
    <title>Respond.io</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <header id="nav-bar">
        <p><b>Respond.io:</b> <span id="timestamp"></span></p>
    </header>

    <div id="dashboard">
        <div class="col1">
            <div id="map"></div>
        </div>

        <div class="col2">
            <p>Updates</p>
            <div class="update-box">

            </div>
        </div>
    </div>

    <div id="data-container"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='scenario.js') }}"></script>
</body>

</html>